<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            
              <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Autentificare</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Inregistreaza-te</a>
                    <!--
                      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
                    -->
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <br>
                      <form class="form-signin">
                        <div class="form-label-group">
                          <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                          <label for="inputEmail"></label>
                        </div>
                        <div class="form-label-group">
                          <input type="password" id="inputPassword" class="form-control" placeholder="Parola" required>
                          <label for="inputPassword"></label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" >Conectează-te</button>
                      </form>
                  </div>
                  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      <br>
                      <form class="form-signin">
                        <div class="form-label-group">
                          <input class="form-control" placeholder="Nume" required autofocus>
                        </div>
                        <div class="form-label-group">
                          <input class="form-control" placeholder="Prenume" required autofocus>
                        </div>
                        <div class="form-label-group">
                          <input class="form-control" placeholder="Email" required autofocus>
                        </div>
                        <div class="form-label-group">
                          <input class="form-control" placeholder="Parola" required autofocus>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" >Inregistrează-te</button>
                      </form>
                  </div>
                  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                </div>
              


            
          </div>
        </div>
      </div>
    </div>
  </div>