/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'RobotoBold';
  src: url('./assets/fonts/roboto-bold.eot');
  src: url('./assets/fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/roboto-bold.woff2') format('woff2'),
  url('./assets/fonts/roboto-bold.woff') format('woff'),
  url('./assets/fonts/roboto-bold.ttf')  format('truetype'),
  url('./assets/fonts/roboto-bold.svg#robotobold') format('svg');
}
@font-face {
  font-family: 'RobotoRegular';
  src: url('./assets/fonts/roboto-regular.eot');
  src: url('./assets/fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/roboto-regular.woff2') format('woff2'),
  url('./assets/fonts/roboto-regular.woff') format('woff'),
  url('./assets/fonts/roboto-regular.ttf')  format('truetype'),
  url('./assets/fonts/roboto-regular.svg#robotoregular') format('svg');
}
@font-face {
  font-family: 'RobotoLight';
  src: url('./assets/fonts/roboto-light.eot');
  src: url('./assets/fonts/roboto-light.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/roboto-light.woff2') format('woff2'),
  url('./assets/fonts/roboto-light.woff') format('woff'),
  url('./assets/fonts/roboto-light.ttf')  format('truetype'),
  url('./assets/fonts/roboto-light.svg#robotolight') format('svg');
}

/*center the environment web page*/
.center {
  margin: auto;
  width: 80%;
  /*border: 3px solid rgb(129, 33, 173);*/
  padding: 10px;
}

/*blinking for status environment*/
.blink_me {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
/*end blinking*/

.navbar {
  background-color: #9a5dc4 !important;
  display: -ms-flexbox;
  display: block;
  /*padding-top: 6px!important;
  padding-right: 8px!important;
  padding-bottom: 6px!important;
  padding-left: 8px!important;*/
}




/*imaginea/sigla portalului*/
.glyphicons {
  font-size: 14px;
  position: relative;
  /* transform: translateY(-15%); */
}
.navbar-brand {
  background-image: url('./assets/images/etti.jpg');
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 50px;
}








:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}



.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}





.bottom-footer {
  background-color: #8043a8 !important;
  position: absolute;
  bottom: 0;
  width: 100%;
}

